body {background-color: #EDFFEC;}

hr{
  border-style: none;
  border-top-style: dotted;
  border-width: thick;
  border-color: grey;
  width: 99%;
}

h1,h2,h3,h4 { color: #709FB0; }

a:hover { color: orange; }

h1:hover { color: purple; }

#highlight { color : #889EAF }
